body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Arial;
  color: rgb(0, 0, 0);
}

.container {
  float: left;
}

.container .container {
  width: 91.1111111111%;
  height: 43px;
  margin-top: -3px;
}

.container .element {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.element {
  float: left;
}

.text {
  float: left;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.container-1 {
  clear: both;
  width: 25.6%;
  height: 339px;
  margin: 29px 0 0 37.1992199999%;
}

.container-2 {
  clear: both;
  width: 3.75%;
  height: 43px;
  margin: 177px 0 0 48.08203%;
}

.container-4 {
  clear: both;
  width: 18.1666666666%;
  margin: 13px 0 0 40.9166666666%;
}

.element-1 {
  width: 6.1666666666%;
  height: 85px;
  margin: -175px 0 0 47.91146%;
  background: url('../images/Mezky-logo-single-WHT-2000px(2).jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-2 {
  width: 100%;
  height: 61px;
  background-color: rgb(51, 51, 51);
}

.element-3 {
  width: 93.0366225839%;
  height: 339px;
  margin-left: 3.45371%;
  background-image: url('../images/Mezky-logo-single-WHT-2000px(7).jpg');
}

.element-4 {
  width: 114.6341463414%;
  height: 43px;
  background-image: url('../images/instagram-1581266_1920(2).jpg');
}

.element-5 {
  clear: both;
  width: 100%;
  height: 318px;
  margin-top: 11px;
  background-color: rgba(0, 0, 0, 0.69);
}