body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Optima;
  color: rgb(0, 0, 0);
}

.text {
  position: absolute;
  top: 559px;
  left: 44%;
  z-index: 7;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.container-1 {
  position: relative;
  float: left;
  clear: both;
  width: 8%;
  height: 22px;
  margin: 482px 0 0 57.91146%;
}

.container-2 {
  position: absolute;
  top: 691px;
  left: 41.6666666666%;
  z-index: 3;
}

.element-1 {
  float: left;
  width: 6.1666666666%;
  height: 85px;
  margin: -175px 0 0 47.91146%;
  background: url('../images/Mezky-logo-single-WHT-2000px(2).jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-2 {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 61px;
  background-color: rgb(51, 51, 51);
}

.element-3 {
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 100%;
  height: 99px;
  margin-top: -61px;
  background: url('../images/IMG-7437(2).JPG') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-4 {
  position: absolute;
  top: 137px;
  left: 0;
  right: 0;
  z-index: 8;
  width: 14.8333333333%;
  height: 218px;
  margin: 0 auto;
  background: url('../images/Mezky-logo-single-WHT-2000px(7).jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-5 {
  position: absolute;
  top: 474px;
  left: 47.1666666666%;
  z-index: 4;
  width: 5%;
  height: 60px;
  background: url('../images/instagram-1581266_1920(3).jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-6 {
  float: left;
  clear: both;
  width: 100%;
  height: 667px;
  margin-top: 361px;
  background: url('../images/IMG-7437(3).JPG') rgba(0, 0, 0, 0.69);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}